html{
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
}

nav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.mainNav{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    left: 50px;
    height: 35px;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);   
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    border-radius: 50px;
    padding: 10px 20px;
    position: relative;
    align-items: center;
}
.navtab{
    margin: 0 5px;
    padding: 10px 20px;
    cursor: pointer;
    /* color: #333; */
    color: white;
    transition: color 0.3s;
    font-weight: 600;
}
.navtab a{
    color: #fff;
    text-decoration: none;
}
.navtab:hover {
    /* color: rgba(255,255,255,0.2); */
    background-color: rgba(255,255,255,0.2);
    border-radius: 50px;
}

.signlog{
    position: relative;
}
.signlog button, .headingMain button{
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-left: 5px;
}
.signlog button{
    cursor: pointer;
}
.signlog button, .signlog button::before, .signlog button::after, .headingBut, .headingBut::before, .headingBut::after{
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 8px 32px 0 rgba(80, 81, 94, 0.37);
    backdrop-filter: blur(7.5);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: 0.3s;
    border-radius: 50px;
    padding: 0;
}
.signlog button, .signlog button::before, .signlog button::after{
    width: 120px;
    height: 45px;
}
.signlog button:hover {
    background-color: rgba(255,255,255,0.2);
}
.signlog .basketBut {
    width: 50px;
    height: 50px;
    padding: 13px;
}
.signlog .basketBut i {
    font-size: 20px;
}

.trackBut{
    position: relative;
    top: 5px;
}

.signlog a{
    color: #fff;
    text-decoration: none;
}

.showcase-heading {
    text-align: left;
    padding: 20px;
    max-width: 600px;
    width: 80%;
    margin-top: 50px;
}

.showcase-content{
    position: relative;
    left: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.showcase-content h1, .image-card h1 {
    font-size: 48px;
    margin: 0 0 10px 0;
    position: relative;
}

.showcase-content p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
}

.categories {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
}

.categories li {
    font-size: 20px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.7);
}

.categories li:hover {
    font-size: 1.2em;
    cursor: pointer;
    color: #fff;
}

.categories li::before {
    content: '➪';
    position: absolute;
    left: -20px;
    margin-top: -6px;
    opacity: 0;
    transition: all 0.3s ease;
    color: #fff;
    font-size: 25px;
}

.categories li:hover::before {
    opacity: 1;
    left: -30px;
}

.categories .active {
    color: #fff;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 50px 0;
}

.oval-con1 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 180px;
    top: 30px;
}


.oval-image {
    width: 700px;
    height: auto;
    border-radius: 50% / 25%;
    object-fit: cover;
    max-height: 500px;
    margin-bottom: 50px;
    border: 2px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(80, 81, 94, 0.37);
}

.SaleinfoBox{
    visibility: hidden;
    opacity: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    display: flex;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    /* background-color: rgba(255,255,255,0.1); */
    box-shadow: 0 8px 32px 0 rgba(80, 81, 94, 0.37);
    color: #fff;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s, visibility 0.5s;
}
.oval-con1:hover .SaleinfoBox {
    visibility: visible;
    opacity: 1;
}
.SaleinfoBox h2{
    font-size: 20px;
    font-weight: 600;
}
.SaleinfoBox h3{
    color: #fff;
    font-size: 15px;
    margin-top: 10px;
}
.saleInfoBox img, .ABInfoCon img{
    top: 100px;
}
.saleInfo{
    padding: 12px;
}

.saleInfo i{
    transition: color 0.5s;
}
.saleInfo:hover i{
    color: white;
}

.previewImg{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 30%;
}


.oval-con1:hover .oval-image{
    transform: scale(1.01);
}

.image-card .oval-con1 .oval-image{
    width: 60%;
    margin: 0px 0 10px 2px;
    /* border-radius: 50px; */
    clip-path: ellipse(50% 50% at 50% 50%);
    width: 400px;
    height: 400px;
}

.image-card .oval-con1 .SaleinfoBox{
    width: 50%;
    height: 50%;
    flex-direction: column;
}

.image-card .oval-con1 .SaleinfoBox .previewImg{
    width: 100px;
    height: 100px;
}

.oval-images{
    position: absolute;
    top: 15%;
    left: 38%;
}

.image-card{
    position: absolute;
    right: 65%;
    top: 50%;
}

.image-gallery{
    height: 100%;
    margin-bottom: 40%;
}

.image-card h1 {
    color: rgba(255, 255, 255, 0.7);
    width: 200px;
    transition: color 0.5s ease-in-out;
    text-align: center;
    margin: 0 auto;
    position: relative;
    left: 180px;
}

.image-card h1:after {
    transition: all ease-in-out 0.5s;
    content: "";
    display: block;
    height: 2px;
    width: 0;
    margin: 0 auto;
    background-color: #fff;
}

.image-card h1:hover:after {
    width: 100%;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.image-card h1:hover {
    color: #fff;
}